.createComponents
	min-height: 30rem
	margin-top: 3rem
	width: 100%
	background-color: #ebedef
	position: relative

	.wrapper
		padding: 1rem 1rem 10rem 1rem
		min-height: 30rem
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

		.item
			width: 100%
			margin: 0.5rem 0

		.none
			color: #808b96
			font-size: 2rem
