.createGoal
	width: 100%

	input
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		max-width: 30rem
		margin: 0 auto
		border: none
		border-bottom: 1px solid  #154360
		padding: 1rem
		text-align: center

		&:focus
			outline: none
